<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>stureadstu</servlet-name>
        <servlet-class>controller.StudentReadStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stuupstu</servlet-name>
        <servlet-class>controller.StudentUpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stucrerequest</servlet-name>
        <servlet-class>controller.StudentCreateRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sturereadrequest</servlet-name>
        <servlet-class>controller.StudentReadRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stuuprequest</servlet-name>
        <servlet-class>controller.StudentUpdateRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studerequets</servlet-name>
        <servlet-class>controller.StudentDeleteRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stureadproass</servlet-name>
        <servlet-class>controller.StudentReadProjectAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stureadpro</servlet-name>
        <servlet-class>controller.StudentReadProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stureadgrade</servlet-name>
        <servlet-class>controller.StudentReadGrade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reviewLoad</servlet-name>
        <servlet-class>controller.reviewLoad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherReadProject</servlet-name>
        <servlet-class>controller.TeacherReadProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherReadTeacher</servlet-name>
        <servlet-class>controller.TeacherReadTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherCreateRequest</servlet-name>
        <servlet-class>controller.TeacherCreateRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherReadMemberProject</servlet-name>
        <servlet-class>controller.TeacherReadMemberProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>o</servlet-name>
        <servlet-class>controller.o</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherViewRequest</servlet-name>
        <servlet-class>controller.TeacherViewRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReviewerGrade</servlet-name>
        <servlet-class>controller.UpdateReviewerGrade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReadReviewer</servlet-name>
        <servlet-class>controller.AdminReadReviewer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>stureadstu</servlet-name>
        <url-pattern>/stureadstu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stuupstu</servlet-name>
        <url-pattern>/stuupstu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stucrerequest</servlet-name>
        <url-pattern>/stucrerequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sturereadrequest</servlet-name>
        <url-pattern>/sturereadrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stuuprequest</servlet-name>
        <url-pattern>/stuuprequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studerequets</servlet-name>
        <url-pattern>/studerequets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stureadproass</servlet-name>
        <url-pattern>/stureadproass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stureadpro</servlet-name>
        <url-pattern>/stureadpro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stureadgrade</servlet-name>
        <url-pattern>/stureadgrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reviewLoad</servlet-name>
        <url-pattern>/reviewLoad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherReadProject</servlet-name>
        <url-pattern>/TeacherReadProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherReadTeacher</servlet-name>
        <url-pattern>/TeacherReadTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherCreateRequest</servlet-name>
        <url-pattern>/TeacherCreateRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherReadMemberProject</servlet-name>
        <url-pattern>/TeacherReadMemberProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>o</servlet-name>
        <url-pattern>/o</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherViewRequest</servlet-name>
        <url-pattern>/TeacherViewRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReviewerGrade</servlet-name>
        <url-pattern>/ReviewerUpdateGrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReadReviewer</servlet-name>
        <url-pattern>/AdminReadReviewer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
